.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(http://smallenvelop.com/demo/simple-pre-loader/images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

@media screen and (max-width: 975px) {
    .nav-wrap {
        display: none;
    }
    .nav-social {
        display: none;
    }
}

@media screen and (min-width:300px) and (max-width:400px) {
    .nav-wrap {
        display: block;
    }
    li {
        padding-left: 40px;
    }
}


}
body {
    font-family: "Pt Serif", serif;
    color: #333;
    font-size: 15px;
}
p {
    line-height: 25px;
    color: #7a7a7a;
    font-weight: normal;
    font-size: 15px;
}
.section-wrap h2 {
    margin-top: 0;
    text-transform: uppercase;
    color: #111;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 24px;
}
.navigation_overlay {
    background-color: #111111;
    visibility: visible;
    opacity: 1;
    width: 100%;
    transition: all 0.3s ease-in-out;
    width: 100%;
    line-height: 0;
}
.nav-type-1 .container-fluid {
    padding: 0 50px;
}
.navbar-header {
    width: 20%;
    padding-right: 15px;
}
.logo {
    padding: 0 15px;
    float: left;
}
.logo-wrap {
    display: table;
    width: 100%;
}
.logo-wrap img {
    height: 42px;
    margin-top: 6px;
    color: #fff;
}
.navbar-collapse {
    padding: 0;
}
.navbar-nav {
    margin: 0;
    float: none;
    display: inline-block;
}
.nav {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}
ul,
ol {
    padding: 0px;
    margin: 0px;
}
.social {
    width: 16%;
    float: right;
    padding: 0 13px;
}
.social ul {
    float: right;
}
.rotate {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    color: #fff;
    font-weight: bolder;
}
.nav-wrap {
    width: 63% !important;
    text-align: center;
}
.navbar-nav>li>a {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    padding: 15px 20px;
    line-height: 52px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.navbar-nav > li > a:hover,
.navbar-nav> li >a:focus {
    color: #996;
    background-color: #111 !important;
}
a {
    text-decoration: none;
    outline: none;
}
.social li {
    display: inline-block;
}
.social li>a {
    font-size: 16px;
    line-height: 46px;
    margin-right: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}
.social li>a:hover {
    color: #996;
}

/********************/
#head-page {
    background: url("http://deothemes.com/envato/enigma/html/img/text_rotator_slide.jpg");
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 671px;
    background-position: center center;
}
.ara120 {
    margin-top: 120px;
    width: 100%;
}
.ara170 {
    margin-top: 170px;
    width: 100%;
}
.text-container h1 {
    color: white;
    font-size: 70px;
    text-transform: uppercase;
}
.enigma-text {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    font-weight: bold;
    color: #fff;
    line-height: 1.6;
    font-size: 20px;
    margin: 24px auto 0;
    letter-spacing: 1.1px;
}
.mt-30 {
    margin-top: 30px;
}
.btn.btn-transparent {
    background-color: transparent;
    border: 2px solid #fff;
}
.buttons-holder > a {
    margin: 5px;
}
.btn-lg {
    font-size: 14px;
    padding: 13px 34px;
    margin-top: 14px;
    font-weight: bold;
}
.btn.btn-transparent:hover {
    background-color: #111;
    color: #fff;
}
.btn {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.02em;
    border-radius: 0px !important;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btn.btn-white {
    background-color: #fff;
    color: #111;
    font-weight: bold;
}
.active>a {
    opacity: 1;
    color: #bfa67a !important;
}
.mb60 {
    margin-bottom: 60px;
}
.text-holder {
    opacity: 0;
    transform: translate(0px, 158px);
}
.intro {
    padding: 36px 91px;
    border: 5px solid #111;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}
.p-text {
    font-size: 17px;
    line-height: 32px;
}
.pad0 {
    padding: 0px !important;
}
.first_box {
    background-color: #1b1b1b;
    padding: 130px 0;
}
.result-wrap {
    width: 230px;
    margin: 0 auto;
}
.timer {
    font-size: 36px;
    color: #fff;
    display: block;
    line-height: 1;
    margin-bottom: 9px;
    margin-left: 20px;
    float: left;
}
.counter-text {
    font-size: 13px;
    color: #929292;
    margin-bottom: 0;
    float: left;
    display: block;
    margin-left: 23px;
    margin-bottom: 9px;
    line-height: 1;
    text-transform: uppercase;
}
.result-wrap i {
    font-size: 55px;
    color: #fff;
    float: left;
    margin-top: 3px;
}
.second_box {
    background-color: #212121;
    padding: 130px 0;
}
.third_box {
    background-color: #292929;
    padding: 130px 0;
}
.bg-boz {
    background-color: #f7f7f7;
}
.section-wrap {
    padding-top: 150px;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.alt-xett:after {
    content: "";
    display: block;
    width: 48px;
    border-bottom: 3px solid #e8e8e8;
    margin: 15px auto 15px;
}
.alt-p {
    font-family: Tahoma;
    font-size: 16px;
}
.service-box {
    background-color: #fff;
    padding: 60px 40px;
    margin-bottom: 30px;
    font-size: 15px;
}
.icon-editing i {
    color: #bfa67a;
    border: 2px solid #bfa67a;
    background-color: transparent;
    transition: background .4s, color .4s;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.icon-editing i:hover {
    background: #111111;
    color: #fff;
    border-color: transparent;
}
.service-box i {
    font-size: 24px;
    line-height: 70px;
}
.service-box h3 {
    font-size: 15px;
    margin-bottom: 21px;
    font-weight: 600;
}
.icon-editing i:after {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: content-box;
    top: -15px;
    left: -15px;
    padding: 15px;
    box-shadow: 0 0 0 2px #111;
    transform: scale(0.8);
    transition: all .4s;
}
.bg-dark {
    background-color: #242424;
}
.board>.ag-yazi {
    color: #fff;
    margin-bottom: 21px;
    font-size: 22px;
}
.our-aim{
font-size: 19px;
}
.mb33 {
    margin-bottom: 33px;
}
.active1 {
    color: #996;
}
.photo {
    opacity: 0;
    transform: translate(0px, 158px);
}
.board>p {
    color: #a6a6a6;
}
.btn.btn-brown {
    background-color: #bfa67a;
}
.btn.btn-lg {
    font-size: 14px;
    padding: 13px 34px;
}
.btn:hover {
    background-color: #444;
    color: snow  !important;
}
.btn{
    transition: all .3s ease-in-out;
}
.mrg-top30 {
    margin-top: 30px;
}
.prev {
    padding-right: 8px;
    color: white;
    cursor: pointer;
}
.prev-next {
    margin-bottom: 80px;
}
.move-prev {
    left: 584px;
}
.move-next {
    right: 584px;
}
.next {
    color: white;
    cursor: pointer;
}
.work-img {
    position: relative;
}
.work-img img {
    overflow: hidden;
    width: 102%;
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
}
.work-img img:hover {
    filter: brightness(70%);
    transform: scale(1.1);
}
.work-item:hover {
    transform: translateX(0);
    transition-delay: .1s;
}
.work-item {
    height: auto;
    overflow: hidden;
}
.mb10 {
    margin-bottom: 10px;
}
.call-act {
    padding: 70px 0;
    background-color: #fff
}
.call-act h2 {
    font-size: 21px;
    font-weight: 600;
    padding-left: 50px;
    line-height: 30px;
}
.ag-yazi {
    color: #fff !important;
}
.wrap-process i {
    font-size: 32px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: #fff;
}
.wrap-process h3 {
    color: #fff;
    font-size: 13px;
    margin: 30px 0 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.team-img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.member-name {
    margin: 30px 0 7px;
    text-transform: uppercase;
    color: #111;
    letter-spacing: 0.05em;
    font-weight: 700;
}
.team-member span {
    color: #7a7a7a;
}
.mg-top30 {
    margin-top: 30px;
}
.about_us h4 {
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #111;
    letter-spacing: 0.05em;
    font-weight: 700;
}
.about_us p{
    font-size: 18px;
}
.right {
    float: right;
    font-weight: bold;
}
.pd-top110 {
    padding-top: 100px;
}
.our-skills h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding-top: 20px;
}
.entry-img img {
    transition: all 0.2s ease-out;
    width: 100%;
}
.owl-carousel {
    width: 100%;
}
.owl-carousel,
.owl-carousel .owl-wrapper {
    position: relative;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 4;
}
.owl-carousel .owl-item {
    float: left;
}
.blog-col {
    padding: 0 5px;
}
.entry-img {
    position: relative;
    overflow: hidden;
}
.entry-box {
    padding: 40px;
    background-color: #fff;
}
.blog-col h4 a:hover {
    color: #111;
}
.entry-meta li {
    display: inline-block;
    font-size: 13px;
    color: #919191;
    margin-bottom: 15px;
    white-space: nowrap;
}
.entry-meta a:hover,
.blog-col h4 a:hover {
    color: #111;
    text-decoration: none;
}
.blog-col h4 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 4px;
    line-height: 1.5;
}
.blog-col h4 a {
    color: #111;
    letter-spacing: 0.05em;
    font-weight: 700;
    line-height: 1.5;
}
.entry-meta a {
    color: #919191;
}
.read-more {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #111;
}
.read-more:hover {
    color: #330;
    text-decoration: none;
}
.black i {
    color: #111;
}
.testimonial-text {
    font-size: 24px;
    line-height: 39px;
    color: #fff;
    font-style: italic;
    margin: 30px 0;
    font-family: "Pt Serif", serif;
}
.parallax-testimonials .owl-carousel {
    position: static;
}
.owl-carousel .owl-item {
    float: left;
}
.parallax-testimonials i {
    font-size: 29px;
    color: white;
}
.testimonial h6 {
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: bolder;
}
.testimonial span {
    font-size: 12px;
}
.testimonial span,
.testimonial h6 {
    display: block;
    color: #fff;
}
.testimonial span {
    padding-bottom: 30px;
}
.parallax-testimonials .owl-pagination {
    position: relative;
    margin-top: 20px;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
}
.owl-page span {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    opacity: 0.8;
    border-radius: 20px;
    background: transparent;
    z-index: 100;
    border: 2px solid #fff;
    transition: all 0.2s ease-in-out;
}
.owl-page {
    display: inline-block;
    padding: 6px 6px;
    position: relative;
}
.best_logo {
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    text-align: center;
}
.best_logo img {
    width: 100%;
}
.client-2.best_logo {
    border-bottom: none;
}
.no-right {
    border-right: none;
}
#contacts h5 {
    font-size: 18px;
    color: #111;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.contact-box:first-of-type {
    margin-top: 38px;
}
.contact-box {
    position: relative;
    padding-left: 70px;
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #bfa67a;
    text-align: center;
    position: absolute;
    left: 0;
}
.contact-icon i {
    font-size: 18px;
    color: #bfa67a;
    line-height: 47px;
}
.contact-box h6 {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 7px;
    color: #111;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    position: relative;
    height: 47px;
    line-height: 47px;
    border: 2px solid #e3e3e3;
    background-color: transparent;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 16px;
    color: #7a7a7a;
}
.footer-text h2 {
    font-size: 30px;
    color: #fff !important;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.black-back {
    background-color: #242424;
}
.edition {
    padding: 60px 0;
    text-align: center;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    margin: 0 2px;
}
.social-icons a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
}
.social-icons i {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #1b1b1b;
    color: #dbdbdb;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    transition: all 0.3s ease;
}
.authority {
    display: block;
    margin-top: 35px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffff99;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}